@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --light: 249 249 249;
    --blue: 60 145 230;
    --light-blue: 207 232 255;
    --grey: 238 238 238;
    --dark-grey: 170 170 170;
    --dark: 52 46 55;
    --red: 219 80 74;
    --yellow: 255 206 38;
    --light-yellow: 255 242 198;
    --orange: 253 114 56;
    --light-orange: 255 224 211;
  }
  :root[class='dark'] {
    --light: 12 12 30;
    --grey: 6 7 20;
    --dark: 251 251 251
  }
}
.Dashboard {
  @apply overflow-x-hidden
}

@layer utilities {
  .grow-underline {
    @apply block relative py-[0.2em] overflow-hidden;
  }
  .grow-underline::after {
    @apply content-[''] bg-red-600 h-[0.15em] w-0 left-0 bottom-0 absolute duration-500;
  }
  .grow-underline:hover::after {
    @apply w-full;
  }
}
.bg-secondary {
  @apply bg-[#F4F2ED]
}

.sectionSize {
  @apply flex items-center px-[1rem] py-[3.5rem] md:px-[3rem] lg:px-[12rem] md:justify-between md:items-center justify-center text-center md:text-left
}

.secondaryTitle {
  @apply bg-left-bottom bg-no-repeat font-serif text-[1.875rem] leading-[2.25rem] mb-8 px-16 pb-8 mx-auto
}

.inSectionTitle{
  @apply bg-left-bottom bg-no-repeat font-serif text-[1.875rem] leading-[2.25rem] px-16 pb-4 mx-auto
}

.faqSection {
  @apply flex items-start px-[1rem] py-[3.5rem] md:px-[3rem] lg:px-[12rem] md:justify-between justify-center text-center md:text-left
}

.faqSecondaryTitle {
  @apply font-serif text-[1.875rem] leading-[2.25rem] pb-8 mx-auto
}

.bg-status-completed {
  @apply bg-tblue
}

.bg-status-pending {
  @apply bg-torange
}

.bg-status-processing {
  @apply bg-tyellow
}
